 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1174px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 254px;
  height: auto;
  margin: 85px auto 0 792px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 254px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-3 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 1093px;
  margin: -40px auto 0;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 942px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 8px 598px 0 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -37px 0 0 auto;
}

.u-section-1 .u-list-4 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 254px;
  margin: -804px auto 0 95px;
}

.u-section-1 .u-repeater-4 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-5 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 254px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-5 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-6 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 254px;
  margin: 0 95px 0 auto;
}

.u-section-1 .u-repeater-6 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-form-1 {
  height: 108px;
  width: 1050px;
  margin: -69px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

.u-section-1 .u-table-1 {
  width: 1050px;
  margin: 10px auto 707px;
}

.u-block-ae6e-260 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-block-ae6e-273 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-left: 686px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-list-3 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 455px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 17px 58px 18px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-2 {
    padding: 17px 58px 18px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-left: 466px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-3 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 235px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-left: 286px;
  }

  .u-section-1 .u-list-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 79px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-left: 86px;
  }

  .u-section-1 .u-list-3 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-list-4 {
    margin-left: 86px;
  }

  .u-section-1 .u-list-6 {
    margin-right: 86px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}